* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color-scheme: light dark;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #f9f6f9;
  color: #100a10;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.posts {
  margin-top: 2rem;
}

.post {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post .details {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #14854f;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #dedcde;
  padding: 1rem;
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;

  & .contain {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
  }

  & a {
    color: #545454;
  }
}

pre {
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  font-size: 1.2rem;
}

.dark {
  display: none;
}

.declare {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #545454;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  color: inherit;
}

.pdf {
  margin-left: 1em;
}

/* Hide default checkbox */
.theme-switch {
  position: absolute;
  opacity: 0;
}

/* Custom toggle switch */
.theme-switch-label {
  display: inline-block;
  width: 50px;
  height: 26px;
  background: #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

/* Switch knob */
.theme-switch-label::after {
  content: "☀️";
  font-size: 11pt;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

/* When checked (dark mode) */
.theme-switch:checked + .theme-switch-label {
  background: #222;
}

.theme-switch:checked + .theme-switch-label::after {
  transform: translateX(24px);
  content: "🌙";
}

header {
  display: flex;
  justify-content: space-between;
}

footer a.typst {
  color: #14aac0;
  font-weight: 700;
}

[data-theme="dark"] {
  & body {
    background-color: #090609;
    color: #f5eff5;
  }

  & .post {
    background-color: #1e1e1e;
    color: #f9f6f9;
  }

  & a {
    color: #14854f;
  }

  & footer {
    background-color: #1e1e1e;

    & a {
      color: #f9f6f9;
    }
  }

  & footer a.typst {
    color: #14aac0;
    font-weight: 700;
  }

  & .dark {
    display: block;
  }

  & .light {
    display: none;
  }

  & .declare {
    color: #ababab;
  }
}
